.card {
    background: #ccc;
    /* border-radius: 2px; */
    min-height: 200px;
    overflow: hidden;
    min-width: 200px;
    margin: 25px;
    text-align: center;
}


.card > .img-container {
    width: 75%;
    height: auto;
    overflow: hidden;
    display: inline-block;
}

.card > .img-container img {
    display: inline-block;
    width: 75%;
    max-height: 250px;
}